.chapter-game-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;

  &.chapter-game-page-correct-bg-1 {
    @include bg-cov(
      "../../assets/images/pages/chapter-game/ysl-bottle-correct-bg-1.jpg"
    );

    @include for-desktop {
      background: none;
    }
  }

  &.chapter-game-page-correct-bg-2 {
    @include bg-cov(
      "../../assets/images/pages/chapter-game/ysl-bottle-correct-bg-2.jpg"
    );

    @include for-desktop {
      background: none;
    }
  }

  .chapter-game {
    position: relative;
    padding-top: rem(120);
    height: 100%;
    @include flex-column;
    @include vertical-center;
  }

  .game-info {
    padding: rem(30) rem(50);
    @include flex;
    @include vertical-center;

    @include for-desktop {
      padding: rem(0) rem(50);
    }

    .game-round {
      position: relative;
      z-index: 100;
      span {
        font-family: $singulier-font;
        font-weight: $normal;
        color: $white;
        font-size: rem(90);
      }

      small {
        font-family: $singulier-font;
        font-weight: $normal;
        color: $white;
        font-size: rem(45);
      }
    }

    .game-questions {
      position: relative;
      z-index: 100;
      p {
        text-align: center;
        font-family: $singulier-font;
        font-weight: $normal;
        color: $white;
        font-size: rem(45);
        line-height: rem(60);

        @include for-desktop {
          font-size: rem(28);
        }
      }
    }
  }

  .group-correct-answers {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    -webkit-overflow-scrolling: touch;

    @include flex-column;
    @include vertical-center;

    .group-correct-answer {
      position: absolute;
      bottom: rem(-600);
      &.hide {
        display: none;
      }
    }

    .group-correct-answer-1 .correct-answer {
      margin-left: rem(20);
    }

    p {
      font-family: $singulier-font;
      font-weight: $normal;
      font-size: rem(45);
      color: $white;
      line-height: rem(60);
      text-align: center;
    }

    .correct-answer {
      margin-top: rem(40);
      height: auto;
      width: rem(330);

      img {
        @include fill-area;
      }
    }
  }

  .drag-area {
    position: relative;
    @include flex;
    @include vertical-center;
    @include fill-area;

    .drag-icon {
      position: absolute;
      z-index: 100;
      height: rem(320);
      width: 100%;

      .ysl-logo {
        @include fill-area;
        object-fit: $contain;
      }

      @include for-desktop {
        height: rem(230);
      }

      @include for-tablet {
        height: rem(250);
      }
    }

    .hand-box {
      position: absolute;
      height: rem(120);
      width: rem(200);
      left: 50%;
      top: 45%;
      transform: translate(25%, -50%);

      img {
        @include fill-area;
        object-fit: $contain;
      }

      @include for-desktop {
        height: rem(70);
        transform: translate(0%, -50%);
      }
    }

    aside {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        font-family: $singulier-font;
        font-size: rem(60);
        text-transform: uppercase;
        text-align: center;
        color: $white;
      }

      @include for-desktop {
        font-size: rem(50);
      }
    }

    &.hide {
      display: none;
    }
  }

  .group-drop {
    @include flex-row;
    position: fixed;
    bottom: rem(-700);
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 0 rem(50);
    z-index: 1;
    gap: rem(40);
    width: 100%;

    @include for-desktop {
      bottom: rem(-500);
    }

    // @include for-tablet {
    //   bottom: rem(-800);
    //   transform: translate(-50%, -15%);
    // }

    .group-drop-left,
    .group-drop-right {
      flex: 1;
      @include flex-column;
      @include vertical-center;

      p {
        font-family: $singulier-font;
        font-weight: $normal;
        font-size: rem(45);
        color: $white;
        line-height: rem(60);
        text-align: center;

        @include for-desktop {
          position: absolute;
          z-index: 2;
          bottom: rem(530);
          font-size: rem(28);
          line-height: rem(35);
        }
      }
    }

    .game-left-ans {
      margin-left: rem(90);
    }

    .game-right-ans {
      margin-right: rem(90);
    }

    .drop-area {
      position: relative;
      width: 100%;
      box-sizing: border-box;

      @include flex-column;
      @include vertical-center;
    }

    .drop-bottle {
      position: relative;
      width: rem(240);
      margin-top: rem(50);

      img {
        @include fill-area;
      }

      @include for-desktop {
        width: rem(180);
      }

      @include for-tablet {
        width: rem(190);
      }

      .ysl-logo-correct-ans-1,
      .ysl-logo-correct-ans-2 {
        position: absolute;
        z-index: 100;
        top: 17%;
        height: rem(320);
        width: 100%;

        img {
          @include fill-area;
          object-fit: $contain;
        }

        @include for-desktop {
          height: rem(230);
        }

        &.hide {
          display: none;
        }
      }
    }

    .drop-bottle--1 {
      margin-left: rem(90);
    }
    .drop-bottle--2 {
      margin-right: rem(90);
    }

    &.hide {
      display: none;
    }
  }

  .game-debrief {
    position: absolute;
    z-index: 4;
    bottom: rem(-600);
    padding: rem(210) rem(50);
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(77, 57, 57, 0),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 1)
    );

    p {
      font-family: $singulier-font;
      font-weight: $normal;
      font-size: rem(45);
      color: $white;
      line-height: rem(60);
      text-align: center;
    }
  }

  .debrief {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;

    .game-debrief-d {
      @include flex-row;
      align-items: center;
      height: 100%;
      width: 50vw;
      background: rgba(0, 0, 0, 0.85);
      padding: rem(80) rem(200);
      box-sizing: border-box;

      p {
        text-align: center;
        font-family: $singulier-font;
        font-size: rem(45);
      }

      &.hide {
        display: none;
      }

      @include for-desktop {
        p {
          font-size: rem(28);
        }
      }
    }
  }
}
