#chap5-individual-result1,
#chap5-individual-result2,
#chap5-individual-result3,
#chap5-team-result1,
#chap5-team-result2,
#chap5-team-result3 {
  .chap5-individual-result1,
  .chap5-individual-result2,
  .chap5-individual-result3,
  .chap5-team-result1,
  .chap5-team-result2,
  .chap5-team-result3 {
    padding: rem(60) rem(0);
    .group-content {
      // display: none;
      padding: rem(0) rem(80);
      @include flex-column-center;

      .result-title {
        font-weight: $book;
        font-size: rem(75);
        line-height: rem(0);
      }

      .brush {
        @include flex-column-center;
        width: rem(500);
        background-size: 100% 100%;
        height: rem(200);
        @include bg-con("../../assets/images/pages/chap5-game/brush.png");
      }

      .behaviour-box {
        p {
          font-family: $northwell-font;
          font-size: rem(100);
          transform: rotate(-10deg);
        }
      }

      .categories {
        width: 100%;
        margin-top: rem(40);
        @include flex-row;
        gap: rem(20);

        .category {
          flex: 1;
          @include flex-column;
          align-items: center;
          padding: rem(0) rem(20);
          img {
            width: rem(70);
            height: rem(70);
            object-fit: contain;
          }

          p {
            font-size: rem(35);
            font-style: italic;
          }

          &.locked {
            opacity: 0.4;
          }
        }

        .category-4 {
          img {
            width: rem(100);
            height: rem(100);
            margin-top: rem(-10);
          }
        }
      }
    }

    .instruction-box {
      padding: rem(0) rem(80);
      margin-top: rem(-20);
      .instruction {
        //   display: none;
        font-size: rem(35);
        font-style: italic;
        color: $text-grey;
      }
    }

    .swiper {
      //   display: none;
      width: 100%;
      height: rem(750);
      margin-top: rem(-40);
      background-color: unset;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      background-color: unset;
    }

    .swiper-content {
      width: 100%;
      height: 100%;

      .brush {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        @include bg-con("../../assets/images/general/stain-yellow.png");
        transform: scale(-1);
      }

      .inside-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        padding: rem(0) rem(60);

        .game-round {
          padding: rem(0);
          span {
            font-size: rem(75);
          }

          small {
            font-size: rem(38);
          }
        }

        .game-questions {
          span {
            font-size: rem(42);
            text-transform: uppercase;
            font-weight: $bold;
            padding: rem(0);
          }
        }

        .game-choice {
          p {
            font-size: rem(40);
          }
        }
      }
    }

    .swiper-group-pagination {
      height: rem(60);
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .swiper-pagination-bullet {
      background-color: $black;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $yellow;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: rem(70);
      height: rem(70);
      transform: translate(0%, -50%);
      margin-top: unset;
      background: none;
      border: none;
      cursor: pointer;

      &::after {
        content: unset;
      }

      img {
        @include fill-area;
        object-fit: contain;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }

    .btn-validate {
      display: none;
    }
  }
}
