#chap4-content1-page {
  .chap4-content1-page {
    position: relative;
    padding: rem(150) rem(20) rem(0) rem(20);
    @include fill-area;

    .quote-anim {
      display: none;
    }

    .quote-box {
      padding: rem(200);
      box-sizing: border-box;
      width: 100%;
      @include bg-con(
        "../../assets/images/pages/chap2-content1-page/brush.png"
      );
      background-size: 100% 100%;
      height: rem(900);
      margin-bottom: rem(100);
      @include flex-column-center;

      p {
        font-family: $northwell-font;
        font-size: rem(120);
        font-weight: $medium;
        line-height: rem(130);
      }
    }

    .quotation {
      position: absolute;
      z-index: 2;

      span {
        font-family: $northwell-font;
        font-size: rem(800);
        line-height: rem(0);
      }
    }

    .quotation-left {
      transform: scaleX(-1) rotate(180deg);
      top: rem(-140);
      left: rem(50);
    }

    .quotation-right {
      transform: rotate(0deg);
      top: rem(1250);
      right: rem(50);
    }

    .chap-desc {
      display: none;
      padding: rem(0) rem(20);
      font-size: rem(42);
    }
  }
}
