#incorrect-pwd-page {
  @include fill-area;
  .incorrect-pwd-page {
    @include fill-area;
    @include flex-column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: rem(40) rem(90) rem(120) rem(90);

    .hermes-bat-con {
      background-color: $wheat;
      width: 100%;
      height: rem(650);
      padding: rem(10);

      .hermes-bat-box {
        height: 100%;
        img {
          @include fill-area;
          object-fit: contain;
        }
      }
    }

    .content {
      height: 50%;
      @include flex-column;
      align-items: center;

      .title {
        h1 {
          font-size: rem(65);
          text-transform: uppercase;
          color: $orange;
        }
      }

      .desc {
        padding-top: rem(100);
        p {
          text-align: center;
          font-size: rem(45);
        }
      }

      .button {
        padding-top: rem(200);
      }
    }

    @include for-desktop {
      @include flex-row;
      gap: rem(20);
      padding: rem(20);

      .hermes-bat-con {
        width: 50%;
        height: 100%;
      }

      .content {
        width: 50%;
        height: 100%;
        justify-content: center;
        gap: rem(100);
        padding-top: rem(100);
        padding-bottom: rem(50);

        .title {
          h1 {
            font-size: rem(45);
          }
        }

        .desc {
          padding-top: rem(0);
          p {
            font-size: rem(35);
          }
        }

        .button {
          padding-top: rem(90);
        }
      }
    }
  }
}
