#main-page {
  height: 100%;
  overflow: hidden;

  .main-page {
    position: relative;
    rotate: 270deg;

    @include for-desktop {
      rotate: 0deg;
    }
  }

  .main-page,
  ul {
    @include flex-row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);

    li {
      list-style: none;

      button {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        height: rem(450);

        &.locked {
          user-select: none;
          pointer-events: none;
          opacity: 0.5;
        }

        img {
          @include fill-area;
        }
      }

      .chapter-1 {
        width: rem(420);
      }
      .chapter-2 {
        width: rem(350);
      }
      .chapter-3 {
        width: rem(330);
      }
      .chapter-4,
      .chapter-5 {
        width: rem(300);
      }
    }

    @include for-desktop {
      top: 42%;
      left: 35%;
      li {
        button {
          height: rem(350);
        }

        .chapter-1 {
          width: rem(320);
        }
        .chapter-2 {
          width: rem(270);
        }
        .chapter-3 {
          width: rem(260);
        }
        .chapter-4,
        .chapter-5 {
          width: rem(230);
        }
      }
    }
  }
}
