#main-page-4 {
  @include fill-area;
  .main-page-4 {
    @include fill-area;

    .group-content {
      position: relative;
      z-index: 2;
      padding-bottom: rem(170);
      box-sizing: border-box;
      @include fill-area;

      .content-illus {
        position: absolute;
        top: rem(50);
        left: 50%;
        transform: translate(-48%, 0%);
        z-index: -1;
        width: rem(800);

        img {
          @include fill-area;
          object-fit: contain;
        }
      }
      .content-elem {
        @include fill-area;
        @include flex-column;
        align-items: center;
        justify-content: flex-end;

        h1 {
          font-size: rem(60);
          text-transform: uppercase;
        }

        span {
          font-size: rem(35);
        }

        .brush {
          width: 80%;
          @include flex-column-center;
          @include bg-cov("../../assets/images/pages/main-page-4/brush.png");
          background-size: 100% 100%;
          margin-left: rem(20);
          margin-bottom: rem(20);
          height: rem(380);
        }

        .btn2 {
          display: none;
        }
      }
    }
  }
}
