#result-page {
  height: 100%;

  .result-page {
    @include flex-column;
    @include fill-area;
    height: 100%;

    @include for-desktop {
      @include flex-row;
      background: none;
    }
  }

  .content {
    @include fill-area;
    @include flex-column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: rem(0) rem(80) rem(0) rem(80);

    .info {
      @include vertical-center;
      .title {
        h1 {
          text-align: center;
          font-family: $singulier-font;
          font-size: rem(60);
          font-weight: $normal;
          line-height: rem(80);
          text-transform: uppercase;
        }
      }
      .text-desc-1 {
        margin-top: rem(20);
        small {
          font-family: $singulier-font;
          font-weight: $light;
          font-size: rem(35);
          text-transform: uppercase;
          line-height: rem(50);
        }
      }
      .text-desc-2 {
        span {
          font-family: $singulier-font;
          font-weight: $normal;
          color: $white;
          font-size: rem(150);
        }

        small {
          font-family: $singulier-font;
          font-weight: $light;
          color: $white;
          font-size: rem(70);
        }
      }

      .text-desc-3 {
        padding: rem(60) rem(20);
        p {
          font-family: $singulier-font;
          font-size: rem(45);
          font-weight: $light;
          line-height: rem(60);
          text-align: center;
        }
      }
      .btns {
        @include flex-column;
        @include vertical-center;
        :last-child {
          margin-top: rem(20);
        }
      }

      @include for-desktop {
        .title {
          h1 {
            font-size: rem(60);
            line-height: rem(70);
          }
        }
        .text-desc-1 {
          small {
            font-size: rem(28);
            line-height: rem(35);
          }
        }
        .text-desc-2 {
          margin-top: rem(10);
          span {
            font-size: rem(120);
          }

          small {
            font-size: rem(45);
          }
        }
        .text-desc-3 {
          padding: rem(20) rem(80);
          p {
            font-size: rem(28);
            line-height: rem(35);
          }
        }
        .btns {
          margin-top: rem(40);
        }
      }
    }
  }
}
