#welcome-page,
.welcome-page {
  @include flex-column;
  @include fill-area;
  align-items: center;
  padding: rem(30) rem(0);

  .welcome-logo {
    position: relative;
    z-index: 3;
    height: auto;
    width: rem(950);

    img {
      @include img-con;
    }
  }

  .group-content {
    position: relative;
    z-index: 2;
    @include fill-area;
    @include flex-column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: rem(140);

    .info {
      display: none;
      position: relative;
      z-index: 2;
      margin-top: rem(40);
      box-sizing: border-box;
      width: 100%;

      .welcome {
        font-size: rem(120);
        font-weight: $bold;
        line-height: rem(0);
        text-transform: uppercase;
      }

      .desc {
        font-size: rem(42);
        line-height: rem(0);
      }

      .title {
        font-size: rem(60);
        font-weight: $bold;
        line-height: rem(0);
      }
    }

    button {
      display: none;
      margin-top: rem(100);
    }
  }

  .stain-yellow {
    display: none;
    position: absolute;
    z-index: 0;
    bottom: rem(120);
    right: rem(10);
    width: 95%;
    height: rem(600);
    @include bg-con("../../assets/images/general/stain-yellow.png");
    background-size: 100% 100%;
  }
}
