@function rem($rem) {
  @return calc($rem / 16) + rem;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-row {
  @include flex;
  flex-direction: row;
}

@mixin vertical-center {
  @include flex-column;
  align-items: center;
}

/*  ==================================================
    mixin background

    @include bg-cov;                    cover background image
    @include bg-con;                    contianed background image
================================================== */
@mixin bg-cov($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-cov-gradient($url) {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 1)
    ),
    url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*  ==================================================
    mixin area & element width

    @include area;                      view element area
    @include fill-area;                 fill element width and height
    @include absolute-center;           make element center of parent element
    @include maxWidth();                width will resizable when screen is stretched
    @include maxHeight();               height will resizable when screen is stretched
    @include clearfix;                  make parent element clearfix inside float element
================================================== */

@mixin fill-area {
  width: 100%;
  height: 100%;
}

// @mixin absolute-left-m {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -110%);
// }

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// font
@mixin font-bold {
  font-family: $singulier-font;
  font-weight: $bold;
}
