// Color
$orange: #e28b22;
$wheat: #f6f1eb;
$white: #ffffff;
$black: #000000;

// Font weight
$light: 300;
$book: 400;
$medium: 500;
$demi: 600;
$bold: 700;
$heavy: 900;

// Break point
$mobile: 768px;
$mobile-land: 568px;
$laptop: 1024px;
$desktop-big: 1920px;
