// Color
$white: #ffffff;
$black: #000000;
$grey: #dfdfdf;
$yellow: #dcbb0a;
$drop-grey: #eaeaea;
$text-grey: #7c7c7c;
$bar-grey: #707070;

$main-color: $black;
$text-color: $black;
$ins-color: $black;

// Font weight
$light: 300;
$book: 400;
$medium: 500;
$demi: 600;
$bold: 700;
$heavy: 900;

// Break point
$mobile: 768px;
$mobile-land: 568px;
