$footerHeight: rem(120);

#footer {
  display: none;
  height: $footerHeight;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.progress-bar {
  width: 100%;
  position: relative;
  @include flex-center;
  justify-content: space-between;
  overflow: hidden;

  .progress {
    &__bar {
      width: 100%;
      height: 100%;
      @include flex-center;

      .bar-inside {
        display: none;
        width: rem(100);
        height: rem(7);
        background: $yellow;
        margin: 0 rem(15);
        border-radius: rem(15);

        &.active {
          background: $black;
        }
      }
    }
  }

  .flip {
    &-next,
    &-prev {
      height: 100%;
      cursor: pointer;
      position: relative;
      width: rem(120);
      @include flex-center;
      left: auto;
      right: auto;
      box-sizing: content-box;

      &.locked {
        opacity: 0;
      }
    }

    &__inner {
      @include flex-center;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  &.none {
    display: none !important;
  }

  &.absolute {
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
}
