#header {
  height: rem(180);
  width: 100%;

  .logo {
    @include fill-area;
    padding-top: rem(40);
    box-sizing: border-box;

    img {
      @include fill-area;
      object-fit: contain;
    }
  }
}
