.group-popup {
  display: none;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .content {
    position: absolute;
    bottom: rem(-20);
    right: rem(40);
    width: rem(1000);
    height: rem(750);
    background-color: $white;
    color: $black;
    text-align: center;
    z-index: 2;

    span {
      position: absolute;
      z-index: 3;
      font-size: rem(500);
      font-family: $singulier-font;
      color: $black;
      opacity: 0.1;
      @include absolute-center;
    }

    p {
      width: 60%;
      z-index: 4;
      font-family: $singulier-font;
      font-size: rem(45);
      @include absolute-center;
    }

    .close-btn {
      position: absolute;
      bottom: rem(30);
      right: rem(30);

      button {
        width: rem(60);
        height: auto;
        background: none;
        border: none;
        cursor: pointer;

        img {
          @include fill-area;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    @include for-desktop {
      width: rem(720);
      height: rem(450);

      span {
        font-size: rem(300);
      }

      p {
        font-size: rem(28);
      }

      .close-btn {
        button {
          width: rem(30);
        }
      }
    }
  }
}
