* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  @include fill-area;
  overflow: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // docs: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  @include user-select-none;

  margin: 0;
  padding: 0;

  font-family: $text-playfairdisplay;
}

#main-container {
  @include flex-column;
  @include fill-area;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
