.pulse {
  animation: pulse 1.25s linear infinite;
  -webkit-animation: pulse 1.25s linear infinite;
  -moz-animation: pulse 1.25s linear infinite;
  -o-animation: pulse 1.25s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
