$btnWidth: rem(587);
$btnHeight: rem(154);
$background: $white;
$pulseBackground: $grey;
$color: $black;

.btn {
  width: 100%;
  background-color: $pulseBackground;
  margin: 0 auto;
  font-family: $montblanc-type-font;

  cursor: pointer;
  position: relative;
  background-color: $background;
  color: $white;
  font-weight: $bold;
  text-transform: uppercase;
  border: none;
  max-width: $btnWidth;
  min-width: $btnWidth;
  max-height: $btnHeight;
  min-height: $btnHeight;
  padding: rem(5) rem(25);
  font-size: rem(48);

  &:hover {
    .btn__inner {
      opacity: 0.85;
    }
  }
  @include bg-con("../../assets/images/general/button.png");
  background-color: unset;

  &.btn-validate.locked {
    @include bg-con("../../assets/images/general/lock-button-validate.png");
  }

  &.locked {
    opacity: 0.8;
    pointer-events: none;
  }
}
