.chapter-status {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  @include flex-row;

  ul {
    @include flex-row;

    li {
      list-style: none;

      p {
        font-family: $singulier-font;
        font-weight: $normal;
        font-size: rem(100);
        color: $white;

        &.active {
          opacity: 1;
        }

        &.inactive {
          opacity: 0.5;
        }

        @include for-desktop {
          font-size: rem(80);
        }
      }
    }
  }
}
