/*  ==================================================
    scrollbar
================================================== */

$scrollbarWidthD: 4px;
$scrollColor: $bar-grey;

/* main scrollbar */
::-webkit-scrollbar {
  width: $scrollbarWidthD;
}

/* scroll */
::-webkit-scrollbar-thumb {
  background: $scrollColor;
}

/* track */
::-webkit-scrollbar-track {
  background: none;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-color;
}

.scroll-inner,
.scroll-popup {
  @include fill-area;

  overflow: visible;
  position: relative;
  z-index: 2;
  overflow-y: overlay;
  overflow-x: hidden;
}
