<div id="chap2-content3-page" class="page" data-menu="2">
  <div class="chap2-content3-page">
    <div class="group-content">
      <p class="question" lcz="text-question"></p>
      <p class="chap-desc" lcz="chap-desc"></p>
      <span class="instruction" lcz="text-instruction"></span>
    </div>
    <div class="group-items hide">
      <div class="item item1">
        <div class="item-content">
          <span class="item-no">3</span>
          <p class="text-point3" lcz="text-point3"></p>
        </div>
        <div class="item-img item1-img" data-item="1">
          <img
            src="assets/images/pages/chap2-content3-page/image1.png"
            alt=""
          />
        </div>
      </div>
      <div class="item item2">
        <div class="item-content">
          <p class="text-point4" lcz="text-point4"></p>
          <span class="item-no">4</span>
        </div>
        <div class="item-img item2-img" data-item="2">
          <img
            src="assets/images/pages/chap2-content3-page/image2.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div id="popup" class="group-popup"></div>
</div>
