<div id="chap3-content2-page" class="page" data-menu="3">
    <div class="chap3-content2-page">
      <div class="group-content">
        <p class="question" lcz="text-question"></p>
        <p class="chap-desc" lcz="chap-desc"></p>
        <span class="instruction" lcz="text-instruction"></span>
      </div>
      <div class="group-items hide">
        <div class="item item1">
          <div class="item-content">
            <span class="item-no">1</span>
            <p class="text-point1" lcz="text-point1"></p>
          </div>
          <div class="item-img item1-img" data-item="1">
            <img
              src="assets/images/pages/chap3-content2-page/image1.png"
              alt=""
            />
          </div>
        </div>
        <div class="item item2">
          <div class="item-content">
            <p class="text-point2" lcz="text-point2"></p>
            <span class="item-no">2</span>
          </div>
          <div class="item-img item2-img" data-item="2">
            <img
              src="assets/images/pages/chap3-content2-page/image2.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div id="popup" class="group-popup"></div>
  </div>
  