<div id="chap1-content1-page" class="page" data-menu="1">
  <div class="chap1-content1-page">
    <div class="group-content">
      <h1 class="title" lcz="text-title"></h1>
      <span class="instruction" lcz="text-instruct"></span>
    </div>
    <div class="group-items hide">
      <div class="item item-1">
        <div class="item-img item1-img" data-item="1">
          <img src="assets/images/pages/chap1-content1-page/item1.png" alt="" />
        </div>
        <div class="item1-desc">
          <p lcz="text-item1"></p>
        </div>
      </div>
      <div class="item item-2">
        <div class="item2-desc">
          <p lcz="text-item2"></p>
        </div>
        <div class="item-img item2-img" data-item="2">
          <img src="assets/images/pages/chap1-content1-page/item2.png" alt="" />
        </div>
      </div>
      <div class="item item-3">
        <div class="item-img item3-img" data-item="3">
          <img src="assets/images/pages/chap1-content1-page/item3.png" alt="" />
        </div>
        <div class="item3-desc">
          <p lcz="text-item3"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" class="group-popup"></div>
</div>
