<div id="chapter1-game" class="chapter-game-page">
  <div class="chapter-game">
    <div class="game-content">
      <div class="game-info">
        <div class="game-round">
          <span id="game-round-text"></span>
          <small lcz="game-rounds-text">/10</small>
        </div>
        <div class="game-questions">
          <p class="game-question game-question" lcz="game-question"></p>
        </div>
      </div>
      <div class="drag-area">
        <div class="drag-icon">
          <img
            class="ysl-logo"
            src="assets/images/pages/chapter-game/ysl-drag-icon.png"
            alt="YSL Logo"
          />
          <div class="hand-box">
            <img
              class="hand-icon"
              src="assets/images/pages/chapter-game/hand.png"
              alt="Hand Icon"
            />
          </div>
        </div>
        <aside>
          <p id="result-text"></p>
        </aside>
      </div>
      <div class="group-drop">
        <div class="group-drop-left group-drop-1">
          <p class="game-left-ans" lcz="game-left-ans"></p>
          <div class="drop-area" data-ans="1">
            <div class="drop-bottle drop-bottle--1">
              <img
                src="assets/images/pages/chapter-game/ysl-bottle-left.png"
                alt="YSL Cassandre Bottle"
              />
              <div class="ysl-logo-correct-ans-1 hide">
                <img
                  src="assets/images/pages/chapter-game/ysl-logo-correct-icon.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="group-drop-right group-drop-2">
          <p class="game-right-ans" lcz="game-right-ans"></p>
          <div class="drop-area" data-ans="2">
            <div class="drop-bottle drop-bottle--2">
              <img
                src="assets/images/pages/chapter-game/ysl-bottle-right.png"
                alt="YSL Cassandre Bottle"
              />
              <div class="ysl-logo-correct-ans-2 hide">
                <img
                  src="assets/images/pages/chapter-game/ysl-logo-correct-icon.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-style">
        <div class="group-correct-answers">
          <div class="group-correct-answer group-correct-answer-1 hide">
            <p class="game-left-ans" lcz="game-left-ans"></p>
            <div class="correct-answer">
              <img
                src="assets/images/pages/chapter-game/ysl-bottle-correct-left.png"
                alt=""
              />
            </div>
          </div>
          <div class="group-correct-answer group-correct-answer-2 hide">
            <p class="game-right-ans" lcz="game-right-ans"></p>
            <div class="correct-answer">
              <img
                src="assets/images/pages/chapter-game/ysl-bottle-correct-right.png"
                alt=""
              />
            </div>
          </div>
          <div class="game-debrief">
            <p class="game-ans-debrief" lcz="game-ans-debrief"></p>
          </div>
        </div>
      </div>
      <div class="debrief d-style">
        <div class="game-debrief-d hide">
          <p class="game-ans-debrief" lcz="game-ans-debrief"></p>
        </div>
      </div>
    </div>
  </div>
</div>
