<div id="chap5-content1-page" class="page" data-menu="5">
  <div class="chap5-content1-page hide">
    <div class="group-content">
      <div class="quotation quotation-left"><span>"</span></div>
      <div class="quotation quotation-right"><span>"</span></div>
      <div class="quote-anim">
        <div class="quote-box">
          <p class="quote-desc" lcz="text-quote"></p>
        </div>
      </div>
      <p class="chap-desc" lcz="text-desc1"></p>
      <p class="chap-desc" lcz="text-desc2"></p>
    </div>
    <div class="group-bottom">
      <div class="instruction-box">
        <span class="instruction" lcz="instruction"></span>
      </div>
      <div class="group-button">
        <button
          class="btn btn-individual"
          type="button"
          lcz="text-individual"
        ></button>
        <button class="btn btn-team" type="button" lcz="text-team"></button>
      </div>
    </div>
  </div>
  <div class="wait-video">
    <div class="video">
      <video id="chap5-video" class="video__content" playsinline>
        <source src="assets/videos/chap5-video.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="skip-video">
      <button class="btn-skip" type="button" lcz="text-skip"></button>
      <img src="assets/images/pages/welcome-page-2/skip-media.png" alt="" />
    </div>
  </div>
</div>
