<div id="chap1-content2-page" class="page" data-menu="1">
  <div class="chap1-content2-page">
    <div class="group-content">
      <h1 class="title" lcz="text-title"></h1>
      <p class="chap1-desc1" lcz="chap1-desc1"></p>
      <p class="chap1-desc2" lcz="chap1-desc2"></p>
      <span class="instruction" lcz="text-instruct"></span>
    </div>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper-content">
            <div class="inside-content">
              <div class="brush brush1">
                <p lcz="text-title-point1"></p>
              </div>
              <div class="point-img">
                <img
                  src="assets/images/pages/main-page-2/illus-bg.png"
                  alt=""
                />
              </div>
              <p lcz="text-desc-point1"></p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content">
            <div class="inside-content">
              <div class="brush brush1">
                <p lcz="text-title-point2"></p>
              </div>
              <div class="point-img">
                <img
                  src="assets/images/pages/main-page-3/illus-bg.png"
                  alt=""
                />
              </div>
              <p lcz="text-desc-point2"></p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content">
            <div class="inside-content">
              <div class="brush brush2">
                <p lcz="text-title-point3"></p>
              </div>
              <div class="point-img">
                <img
                  src="assets/images/pages/main-page-4/illus-bg.png"
                  alt=""
                />
              </div>
              <p class="desc-point3" lcz="text-desc-point3"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-group-pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
