<div id="chap5-individual-game2" class="page" data-menu="5">
  <div class="chap5-individual-game2">
    <div class="group-content">
      <div class="behaviour-box brush">
        <p class="title" lcz="title-main-3"></p>
      </div>
      <div class="img-box">
        <img src="assets/images/pages/main-page-3/illus-bg.png" alt="" />
      </div>
    </div>
    <div class="instruction-box">
      <p class="instruction" lcz="instruction"></p>
    </div>
    <div class="group-quiz">
      <div class="game-round">
        <span id="game-round-text"></span>
        <small lcz="game-rounds-text">/5</small>
      </div>
      <div class="game-questions">
        <p class="game-question" lcz="game2-question"></p>
      </div>
      <div class="swiper choices-ques-1">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques1-ans1" lcz="game2-ques-ans1"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques1-ans2" lcz="game2-ques-ans2"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques1-ans3" lcz="game2-ques-ans3"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques1-ans4" lcz="game2-ques-ans4"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-group-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <button class="swiper-button-prev" type="button">
          <img src="assets/images/general/arrow-left.png" alt="Arrow Left" />
        </button>
        <button class="swiper-button-next" type="button">
          <img src="assets/images/general/arrow-right.png" alt="Arrow Right" />
        </button>
      </div>

      <div class="swiper choices-ques-2">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques2-ans1" lcz="text-ques-ans1"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques2-ans2" lcz="text-ques-ans2"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques2-ans3" lcz="text-ques-ans3"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques2-ans4" lcz="text-ques-ans4"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-group-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <button class="swiper-button-prev" type="button">
          <img src="assets/images/general/arrow-left.png" alt="Arrow Left" />
        </button>
        <button class="swiper-button-next" type="button">
          <img src="assets/images/general/arrow-right.png" alt="Arrow Right" />
        </button>
      </div>

      <div class="swiper choices-ques-3">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques3-ans1" lcz="text-ques-ans1"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques3-ans2" lcz="text-ques-ans2"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques3-ans3" lcz="text-ques-ans3"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques3-ans4" lcz="text-ques-ans4"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-group-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <button class="swiper-button-prev" type="button">
          <img src="assets/images/general/arrow-left.png" alt="Arrow Left" />
        </button>
        <button class="swiper-button-next" type="button">
          <img src="assets/images/general/arrow-right.png" alt="Arrow Right" />
        </button>
      </div>

      <div class="swiper choices-ques-4">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques4-ans1" lcz="text-ques-ans1"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques4-ans2" lcz="text-ques-ans2"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques4-ans3" lcz="text-ques-ans3"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques4-ans4" lcz="text-ques-ans4"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-group-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <button class="swiper-button-prev" type="button">
          <img src="assets/images/general/arrow-left.png" alt="Arrow Left" />
        </button>
        <button class="swiper-button-next" type="button">
          <img src="assets/images/general/arrow-right.png" alt="Arrow Right" />
        </button>
      </div>

      <div class="swiper choices-ques-5">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques5-ans1" lcz="text-ques-ans1"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques5-ans2" lcz="text-ques-ans2"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques5-ans3" lcz="text-ques-ans3"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content">
              <div class="inside-content">
                <div class="brush">
                  <p class="ques5-ans4" lcz="text-ques-ans4"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-group-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <button class="swiper-button-prev" type="button">
          <img src="assets/images/general/arrow-left.png" alt="Arrow Left" />
        </button>
        <button class="swiper-button-next" type="button">
          <img src="assets/images/general/arrow-right.png" alt="Arrow Right" />
        </button>
      </div>
    </div>

    <button class="btn btn-validate" type="button" lcz="text-validate"></button>
  </div>
</div>
