<div id="closing-page-2" class="page">
  <div class="closing-page-2">
    <div class="group-title">
      <div class="video">
        <video
          id="result-video1-content"
          class="video__content"
          src="assets/videos/closing-page-2.mp4"
          muted
          playsinline
        ></video>
      </div>
      <div class="brush">
        <div class="congrat-text hide">
          <h1 class="congrat" lcz="text-congrat"></h1>
          <h2 class="ins bao" lcz="text-bao"></h2>
          <p class="congrat-desc" lcz="text-congrat-desc"></p>
        </div>
      </div>
    </div>
    <div class="group-content">
      <p class="close-desc" lcz="text-desc1"></p>
      <p class="close-desc" lcz="text-desc2"></p>
      <p class="close-desc" lcz="text-desc3"></p>
      <div class="button">
        <button
          class="btn btn-download"
          type="button"
          lcz="text-download"
        ></button>
      </div>
    </div>
  </div>
  <div id="popup-pdf">
    <div class="popup__wrapper">
      <div class="pdf-viewer">
        <iframe id="pdf-js-viewer" src="" frameborder="0"></iframe>
        <div class="x-icon" id="x-icon">
          <img src="assets/images/general/close-white.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
