<div id="correct-pwd-page" class="page">
  <div class="correct-pwd-page">
    <div class="hermes-bat-con">
      <div class="hermes-bat-box">
        <img src="assets/images/general/hermes-bat.png" alt="HERMES Bat" />
      </div>
    </div>
    <div class="content">
      <div class="info">
        <div class="title">
          <h1>How to play</h1>
        </div>
        <div class="m-style">
          <div class="tip1">
            <p>
              Use the arrow keys on the keyboard <br />to navigate through the
              labyrinth.
            </p>
            <div class="drag-icon">
              <img src="assets/images/general/arrow-button.png" alt="" />
            </div>
          </div>
        </div>
        <div class="tip2">
          <p>Drag your finger or mouse cursor to move the ex-libris.</p>
          <div class="drag-icon">
            <img src="assets/images/general/drag-icon.png" alt="" />
          </div>
        </div>
        <div class="warning">
          <p>Be careful you only have 24 seconds!</p>
        </div>
      </div>
      <div class="button">
        <button class="btn play-btn" type="button">Play</button>
      </div>
    </div>
  </div>
</div>
