<div id="incorrect-pwd-page" class="page">
  <div class="incorrect-pwd-page">
    <div class="hermes-bat-con">
      <div class="hermes-bat-box">
        <img src="assets/images/general/hermes-bat.png" alt="HERMES Bat" />
      </div>
    </div>
    <div class="content">
      <div class="title">
        <h1>Incorrect Password</h1>
      </div>
      <div class="desc">
        <p>The password you entered is incorrect. <br />Please try again.</p>
      </div>
      <div class="button">
        <button class="btn ok-btn" type="button">Ok</button>
      </div>
    </div>
  </div>
</div>
