<div id="login-page" class="page">
  <div class="login-page">
    <div class="hermes-bat-con">
      <div class="hermes-bat-box">
        <img src="assets/images/general/hermes-bat.png" alt="HERMES Bat" />
      </div>
    </div>
    <div class="content">
      <div class="desc">
        <p>
          Are you ready to venture into the <span>HERMÈS Labyrinth</span>
          <br />to find <span><br />the key to faubourg?</span>
        </p>
      </div>
      <form>
        <div class="password">
          <input
            id="password"
            type="password"
            placeholder="Enter Password"
            autocomplete="current-password"
          />
        </div>
        <button class="btn play-btn" type="button">Let's play!</button>
      </form>
    </div>
  </div>
</div>
