<div id="main-page" class="page">
  <video class="video-background" autoplay muted loop playsinline>
    <source src="assets/videos/bg-media.mp4" type="video/mp4" />
  </video>
  <div class="main-page">
    <ul class="game-chapters">
      <li>
        <button
          class="locked chapter chapter-1"
          lcz="text-chapter-1"
          data-goto="chapter1-game"
        ></button>
      </li>
      <li>
        <button
          class="locked chapter chapter-2"
          lcz="text-chapter-2"
          data-goto="chapter2-game"
        ></button>
      </li>
      <li>
        <button
          class="locked chapter chapter-3"
          lcz="text-chapter-3"
          data-goto="chapter3-game"
        ></button>
      </li>
      <li>
        <button
          class="locked chapter chapter-4"
          lcz="text-chapter-4"
          data-goto="chapter4-game"
        ></button>
      </li>
      <li>
        <button
          class="locked chapter chapter-5"
          lcz="text-chapter-5"
          data-goto="chapter5-game"
        ></button>
      </li>
    </ul>
  </div>
</div>
