<div id="main-page-2" class="page">
  <div class="main-page-2">
    <div class="group-content">
      <div class="content-illus">
        <img src="assets/images/pages/main-page-2/illus-bg.png" alt="" />
      </div>
      <div class="content-elem">
        <div class="brush">
          <h1 class="title" lcz="title-main-2"></h1>
          <span class="time" lcz="time-main-2"></span>
        </div>
        <button
          class="btn btn1 btn-to-chap2 locked"
          lcz="text-discover"
        ></button>
        <button class="btn btn2 btn-to-chap2" lcz="text-rediscover"></button>
      </div>
    </div>
    <div class="navigation-page">
      <div class="ball"></div>
      <div class="ball ball-yellow"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>
