<div id="main-page" class="page">
  <video class="video-background" autoplay muted loop playsinline>
    <source src="assets/videos/bg-media.mp4" type="video/mp4" />
  </video>
  <div class="main-page">
    <ul class="game-chapters">
      <li>
        <button class="locked chapter chapter-1" data-goto="chapter1-game">
          <img src="assets/images/pages/main-page/M.png" alt="M Letter" />
        </button>
      </li>
      <li>
        <button class="locked chapter chapter-2" data-goto="chapter2-game">
          <img src="assets/images/pages/main-page/Y.png" alt="Y Letter" />
        </button>
      </li>
      <li>
        <button class="locked chapter chapter-3" data-goto="chapter3-game">
          <img src="assets/images/pages/main-page/S.png" alt="S Letter" />
        </button>
      </li>
      <li>
        <button class="locked chapter chapter-4" data-goto="chapter4-game">
          <img src="assets/images/pages/main-page/L.png" alt="L Letter" />
        </button>
      </li>
      <li>
        <button class="locked chapter chapter-5" data-goto="chapter5-game">
          <img src="assets/images/pages/main-page/F.png" alt="F Letter" />
        </button>
      </li>
    </ul>
  </div>
</div>
