<div id="select-lang-page" class="page">
  <video class="video-background" autoplay muted loop playsinline>
    <source src="assets/videos/bg-media.mp4" type="video/mp4" />
  </video>
  <div class="select-lang-page">
    <div class="side"></div>
    <div class="content">
      <div class="info">
        <div class="text">
          <div class="title">
            <h1 lcz="page-title-1"></h1>
            <h2 lcz="page-title-2"></h2>
          </div>
          <div class="desc">
            <p lcz="description"></p>
          </div>
        </div>

        <div class="form">
          <div class="selectlang">
            <div class="select">
              <select id="languageSelect" class="languageSelect">
                <option lcz="select-lang" value=""></option>
                <option value="en-gb">English</option>
              </select>
            </div>
          </div>
          <button class="btn enter-btn" type="button" lcz="text-enter"></button>
        </div>
      </div>
    </div>
  </div>
</div>
