<div id="welcome-page" class="page">
  <div class="welcome-page">
    <div class="side"></div>
    <div class="content">
      <div class="info">
        <div class="title">
          <h1 lcz="page-title"></h1>
        </div>
        <div class="text-desc">
          <p lcz="text-desc1"></p>
        </div>
        <div class="text-desc">
          <p lcz="text-desc2"></p>
          <div class="quest-box">
            <span>?</span>
          </div>
        </div>
        <div class="text-desc text-desc-3">
          <p class="text-desc-3" lcz="text-desc3"></p>
        </div>
        <button class="btn start-btn" type="button" lcz="text-start"></button>
      </div>
    </div>
  </div>
</div>
