<div id="welcome-page-2" class="page">
  <div class="welcome-page-2">
    <div class="step1">
      <img src="assets/gif/doors-open.gif" alt="Door Open Gif" id="doors" />
    </div>
    <div class="step2 hide">
      <div class="group-top">
        <div class="brush">
          <div class="welcome-text hide">
            <h1 class="welcome" lcz="text-welcome"></h1>
            <h2 class="ins bao" lcz="text-bao"></h2>
          </div>
        </div>
        <div class="fade2">
          <div class="content">
            <p class="content1-desc" lcz="content1"></p>
            <div class="content2">
              <p class="content2-desc" lcz="content2-desc"></p>
              <ul>
                <li class="point1">
                  <div class="star">
                    <img
                      src="assets/images/pages/welcome-page-2/star.png"
                      alt="Star Icon"
                    />
                  </div>
                  <div class="text-point">
                    <p lcz="text-poing1"></p>
                  </div>
                </li>
                <li class="point2">
                  <div class="star">
                    <img
                      src="assets/images/pages/welcome-page-2/star.png"
                      alt="Star Icon"
                    />
                  </div>
                  <div class="text-point">
                    <p lcz="text-poing2"></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="time">
            <img
              src="assets/images/pages/welcome-page-2/time-icon.svg"
              alt="Time Icon"
            />
          </div>
          <span class="text-time" lcz="text-time"></span>
        </div>
      </div>

      <div class="group-bottom">
        <div class="fade3">
          <button class="btn btn-start" type="button" lcz="text-start"></button>
        </div>
      </div>
    </div>
    <div class="wait-video">
      <div class="video">
        <video id="welcome-video1" class="video__content" playsinline>
          <source src="assets/videos/welcome-video.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="skip-video">
        <button class="btn-skip" type="button" lcz="text-skip"></button>
        <img src="assets/images/pages/welcome-page-2/skip-media.png" alt="" />
      </div>
    </div>
  </div>
</div>
