<div id="welcome-page" class="page">
  <div class="welcome-page">
    <div class="welcome-logo">
      <img
        id="welcome-logo"
        src="assets/images/pages/welcome-page/welcome-logo.png"
        alt="Culture At Montblanc Logo"
      />
    </div>

    <div class="group-content">
      <div class="stain-yellow"></div>
      <div class="info">
        <h1 class="welcome" lcz="text-welcome"></h1>
        <span class="desc" lcz="desc"></span>
        <h2 class="title" lcz="title"></h2>
      </div>
      <button class="btn btn-start" type="button" lcz="text-start"></button>
    </div>
  </div>
</div>
