<div id="popup">
  <div id="chap1-content1-popup1">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <img
        class="popup-img"
        src="assets/images/pages/chap1-content1-page/item1.png"
        alt=""
      />
    </div>
    <div class="text-detail">
      <p lcz="chap1-content1-popup1-detail1"></p>
      <p lcz="chap1-content1-popup1-detail2"></p>
      <p lcz="chap1-content1-popup1-detail3"></p>
      <p lcz="chap1-content1-popup1-detail4"></p>
    </div>
  </div>
  <div id="chap1-content1-popup2">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <img
        class="popup-img"
        src="assets/images/pages/chap1-content1-page/item2.png"
        alt=""
      />
    </div>
    <div class="text-detail">
      <p lcz="chap1-content1-popup2-detail1"></p>
      <p lcz="chap1-content1-popup2-detail2"></p>
      <p lcz="chap1-content1-popup2-detail3"></p>
    </div>
  </div>
  <div id="chap1-content1-popup3">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <img
        class="popup-img"
        src="assets/images/pages/chap1-content1-page/popup-item3.png"
        alt=""
      />
    </div>
    <div class="text-detail">
      <p lcz="chap1-content1-popup3-detail1"></p>
    </div>
  </div>
  <div id="chap2-content2-popup1">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap2-content2-page/image1.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">1</span>
      <p class="text-item" lcz="text-point1"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap2-content2-popup1-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content2-popup1-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content2-popup1-text-point2"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap2-content2-popup2">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap2-content2-page/image2.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">2</span>
      <p class="text-item" lcz="text-point2"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap2-content2-popup2-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content2-popup2-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content2-popup2-text-point2"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap2-content3-popup1">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap2-content3-page/image1.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">3</span>
      <p class="text-item" lcz="text-point3"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap2-content3-popup1-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content3-popup1-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content3-popup1-text-point2"></p>
          </div>
        </li>
        <li class="point3">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap2-content3-popup1-text-point3"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap2-content3-popup2">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap2-content3-page/image2.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">4</span>
      <p class="text-item" lcz="text-point4"></p>
    </div>
    <div class="content">
      <p
        class="chap2-content3-popup2-desc"
        lcz="chap2-content3-popup2-desc"
      ></p>
    </div>
  </div>
  <div id="chap3-content2-popup1">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap3-content2-page/image1.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">1</span>
      <p class="text-item" lcz="text-point1"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap3-content2-popup1-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap3-content2-popup1-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap3-content2-popup1-text-point2"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap3-content2-popup2">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap3-content2-page/image2.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">2</span>
      <p class="text-item" lcz="text-point2"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap3-content2-popup2-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap3-content2-popup2-text-point"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap3-content3-popup">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap3-content3-page/image1.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">3</span>
      <p class="text-item" lcz="text-point3"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap3-content3-popup-desc"></p>
    </div>
  </div>
  <div id="chap4-content2-popup1">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap4-content2-page/image1.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">1</span>
      <p class="text-item" lcz="text-point1"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap4-content2-popup1-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup1-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup1-text-point2"></p>
          </div>
        </li>
        <li class="point3">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup1-text-point3"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="chap4-content2-popup2">
    <div class="x-icon">
      <img src="assets/images/general/close.svg" alt="" />
    </div>
    <div class="content-img">
      <div class="brush1"></div>
      <div class="brush2"></div>
      <img
        class="popup-img"
        src="assets/images/pages/chap4-content2-page/image2.png"
        alt=""
      />
    </div>
    <div class="item-content">
      <span class="item-no">2</span>
      <p class="text-item" lcz="text-point2"></p>
    </div>
    <div class="content">
      <p class="content-desc" lcz="chap4-content2-popup2-desc"></p>
      <ul>
        <li class="point1">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup2-text-point1"></p>
          </div>
        </li>
        <li class="point2">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup2-text-point2"></p>
          </div>
        </li>
        <li class="point3">
          <div class="star">
            <img src="assets/images/general/star.png" alt="Star Icon" />
          </div>
          <div class="text-point">
            <p lcz="chap4-content2-popup2-text-point3"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
